<!-- Search Bar -->
<input placeholder="Enter search text...." [formControl]="searchControl">

<select [(ngModel)]="selectedType" (change)="fetchData()">
  <option value="users">User</option>
  <option value="posts">Post </option>
</select>

<p *ngIf="loading">{{selectedType}} loading....</p>
<p *ngIf="error">{{error}}</p>

<table *ngIf="!loading && !error && selectedType === 'users'">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUsers">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="!loading && !error && selectedType === 'posts'">
  <thead>
    <tr>
      <th>User id</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.userId }}</td>
      <td>{{ post.title }}</td>
    </tr>
  </tbody>
</table>


<h2>User List</h2>
<ul>
  <li *ngFor="let u of users" (click)="selectedUser = u">
    {{ u.username }} {{ u.email }}
  </li>
</ul>
<br>
<button [routerLink]="['/addUser']">Add User</button>
<!-- Pass selected user to child -->
<app-user-details *ngIf="selectedUser" [user]="selectedUser" (notifyParent)="handleChildMessage($event)">
</app-user-details>
